:root {
    /* Cores principais */
    --cor-primaria: #B8F500;
    --cor-primaria-hover: #A6DE00;

    /* Fundo */
    --cor-fundo: #0B0B0B;
    --cor-fundo-secundario: #111111;
    --cor-fundo-card: #171717;

    /* Bordas */
    --cor-borda: #303030;

    /* Textos */
    --cor-texto: #FFFFFF;
    --cor-texto-secundario: #B5B5B5;
    --cor-texto-terciario: #777777;

    /* Estados */
    --cor-sucesso: #1F6B38;
    --cor-erro: #8F3030;
    --cor-aviso: #B8F500;

    /* Outros */
    --sombra: rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

    font-family: Arial, Helvetica, sans-serif;
}